.loginHead{
    font-family: sans-serif;
    color: slateblue;
    margin: auto;
    width: 50%;
    padding: 15px;
    text-align: center;

}



.container{ 
    margin: auto;
    width: 50%;
    padding: 15px;
    border: 3px skyblue;
    border-style: outset;
    text-align: center;

}

input[type=submit] {
    background-color: red;
    color: white;
}